@import '../scss/variables';
@import '../scss/mixins';

$trans-time: 300ms;
$form-width: 420px;
$form-width-phone: 260px;

h4 {
    font-weight: normal;
}


form {
    text-align: center;
}

.input-field {
    position: relative;
    margin: 45px 0;

    input {
        background: none;
        color: $color-text-darker;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $color-text-darker;
        width: $form-width;

        @include respond(phone) {
            width: $form-width-phone;
        }

        &:focus {
            outline: none;
        }
        &:focus ~ label {
            top: -14px;
            font-size: 12px;
            color: $color-primary;
        }
        &:focus ~ .bar:before {
            width: $form-width;
            @include respond(phone) {
                width: $form-width-phone;
            }
        }
    }

    label {
        color: $color-text-darker;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: $trans-time ease all;
    }

    .bar {
        position: relative;
        display: block;
        width: $form-width;
        @include respond(phone) {
            width: $form-width-phone;
        }
        &:before {
          content: '';
          height: 2px;
          width: 0;
          bottom: 0px;
          position: absolute;
          background: $color-primary;
          transition: $trans-time ease all;
          left: 0%;
        }
      }
}
