@import '../scss/mixins';

.col {
    width: 100%;

    p {
        margin-top: 20px;
    }

    iframe {
        height: 500px;
        margin-top: 20px;
        width: 700px;
        @include respond(phone) {
            width: 350px !important;
        }
        @include respond(small-phone) {
            height: 300px;
            width: 300px;
        }
    }
}
