@import 'scss/variables';
@import 'scss/mixins';

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body { height: 100%; }

main {
    background-color: $color-background-dark;
    color: $color-text-darker;
    font-family: 'Luna';
    letter-spacing: 0.15em;
    max-height: 100%;
    overflow-x: hidden;
    perspective: 1px;
    perspective-origin: center top;
    scroll-behavior: smooth !important;
    transform-style: preserve-3d;
}

header {
    background: url('./yosemite.png');
    background-position: center center;
    background-size: cover;
    color: $color-white;
    height: 100vh;
    max-width: 100%;
    padding-top: 10vh;
    position: relative;
    transform:
        translateZ(-1px)
        scale(2);
    transform-origin: center top;
    vertical-align: top;
    width: 100%;

    @include respond(small-phone) {
        transform: translateZ(-1px) scale(1);
    }

    h1 {
        letter-spacing: 0.2em;
    }

    * {
        color: $color-white;
        font-weight: normal;
        margin: 0;
        padding: 1em 0;
        text-align: center;
    }

    p {
        color: $color-white;
        font-size: 1rem;
    }

}

.button {
    background: none;
    border: 2px solid $color-primary;
    border-radius: 0;
    color: $color-white;
    cursor: pointer;
    font-size: 1rem;
    padding: 1em;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
        background: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
        color: $color-white;
        transform: translateY(-0.3rem);
    }

    &--black-text {
        color: $color-black;
    }
}

// https://dev.to/selbekk/how-to-fade-in-content-as-it-scrolls-into-view-10j4
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    visibility: hidden;
    width: 50%;
    will-change: opacity, visibility;

    @include respond(phone) {
        width: 100%;
    }

    &--right {
        transform: translateX(20vw);
    }

    &--left {
        transform: translateX(-20vw);
    }

    &--full {
        width: 100%;
    }
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;

}

#root {
    background: $color-background-dark;
    transform: translateZ(0);
}

section {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    min-height: 50vh;
    padding: 10px 0;
    @include respond(phone) {
        flex-direction: column;
    }
}

.col {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &--spaced {
        justify-content: space-between;
    }
}

h2 {
    text-align: center;
}

.error {
    color: $color-error;
    margin-bottom: 20px;
}
