@import 'scss/variables';
@import 'scss/mixins';

* { box-sizing: border-box; margin: 0; padding: 0; border: 0; }

html {
    scroll-behavior: smooth;
}

html, body { height: 100%; }

main {
    scroll-behavior: smooth !important;
    max-height: 100%;
    overflow-x: hidden;
    perspective: 1px;
    perspective-origin: center top;
    transform-style: preserve-3d;
    font-family: 'Luna';
    background-color: $color-background-dark;
    color: $color-text-darker;
    letter-spacing: 0.15em;
}

header {
    padding-top: 10vh;
    color: $color-white;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background: url('./yosemite.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    vertical-align: top;
    transform-origin: center top;
    transform:
        translateZ(-1px)
        scale(2);

    @include respond(small-phone) {
        transform:
        translateZ(-1px)
        scale(1);
    }

    h1 {
        letter-spacing: 0.2em;
    }

    & * {
        font-weight: normal;
        text-align: center;
        margin: 0;
        padding: 1em 0;
        color: $color-white;
    }

    p {
        color: $color-white;
        font-size: 1rem;
    }

}

.rsvp-button {
    color: $color-white;
    padding: 1em;
    border-radius: 0;
    background: none;
    border: 2px solid $color-primary;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font-size: 1rem;
    transition: all .2s;
    text-decoration: none;

    &:hover {
        background: $color-primary;
        color: white;

        transform: translateY(-0.3rem);
        /* offset x offset y blur and color, higher blur makes it look higher off the page */
        box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
}

// https://dev.to/selbekk/how-to-fade-in-content-as-it-scrolls-into-view-10j4
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
    width: 50%;

    @include respond(phone) {
        width: 100%;
    }

    &--right {
        transform: translateX(20vw);
    }

    &--left {
        transform: translateX(-20vw);
    }

    &--full {
        width: 100%;
    }
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;

}

div#root {
    background: $color-background-dark;
    transform: translateZ(0);


    section {
        min-height: 50vh;
        padding: 10px 0;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include respond(phone) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        &--spaced {
            justify-content: space-between;
        }
    }
}

h2 {
    text-align: center;
}
