$trans-time: 300ms;
$form-width: 420px;
$form-width-phone: 260px;

form {
    text-align: center;
}

.input-field {
    margin: 45px;
    position: relative;

    input {
        background: none;
        border-bottom: 1px solid $color-text-darker;
        border-radius: 0;
        color: $color-text-darker;
        display: block;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        width: $form-width;

        @include respond(phone) {
            width: $form-width-phone;
        }

        &:focus {
            outline: none;
        }
    }

    .full {
        width: 100%;
    }

    input:focus ~ .input-label,
    .has-value ~ .input-label {
        color: $color-primary;
        font-size: 12px;
        top: -14px;
    }

    input:focus ~ .bar::before,
    .has-value ~ .bar::before {
        width: 100%;
    }
}

.input-label {
    color: $color-text-darker;
    font-size: 16px;
    font-weight: normal;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: $trans-time ease all;
}

.bar {
    display: block;
    position: relative;
    width: 100%;

    &::before {
        background: $color-primary;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0%;
        position: absolute;
        transition: $trans-time ease all;
        width: 0;
    }
}
