$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-text-light: #777;
$color-text-dark: #777;
$color-text-darker: #999;
$color-background-light: #fff;
$color-grey-light-1: #f7f7f7;
$color-background-dark: #f6ecdf;
// $color-background-dark: #333;
$color-black: #000;
$color-white: #fff;
$color-border-light: #eee;


$trans-time: 300ms;
$width: 420px;
