$color-primary: #e68e7c;
$color-error: #FC7E7C;
$color-text-light: #777;
$color-text-dark: #777;
$color-text-darker: #999;
$color-background-light: #fff;
$color-grey-light-1: #f7f7f7;
$color-background-dark: #f6ecdf;
$color-black: #000;
$color-white: #fff;
$color-border-light: #eee;
